<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
      <title> {{ title }}</title>
    {% else %}
      <title>Default Title</title>
    {% endif %}
    <style>
        .city {
          
          color: black;
          border: 2px solid black;
          margin: 20px;
          padding: 20px;
        }
        </style>
  </head>
  <body>
    <h1>Hello, Fantasy Baseball!</h1>
    {% block content %} {% endblock %}
  </body>
</html>