{% extends "gameday/base.html" %}
{% block content%}
    {% for g in contests %}
        
        <h3> {{ g.teams.away.team_abbrev }} ({{ g.teams.away.leagueRecord.wins }}-{{ g.teams.away.leagueRecord.losses }}) @ {{ g.teams.home.team_abbrev }} ({{ g.teams.home.leagueRecord.wins }}-{{ g.teams.home.leagueRecord.losses }})
            | {{ g.teams.away.probablePitcher.fullName }} vs {{ g.teams.home.probablePitcher.fullName }}
        </h3>
        
          <!-- Button code here -->
        <button id="showButton{{g.gamePk}}" class="icon-button"><i class="fas fa-play"></i> Advanced Stats</button>
        <div id="info{{g.gamePk}}" style="display:none">
            <p></p>
            <table class="table-type-Away">
                <tr>
                    <!-- Away Team -->
                    <th>Away Team</th>
                    <th>Win-Loss</th>
                    <th>Win Percentage</th>
                    <th>OPS</th>
                    <th>wOBA</th>
                    <th>wRC+</th>
                </tr>
    
                <tr>
                    <!-- Display values in the second row -->
                    <td>{{g.teams.away.team.name}}</td>
                    <td>{{ g.teams.away.leagueRecord.wins }}-{{ g.teams.away.leagueRecord.losses }}</td>
                    <td>{{ g.teams.away.leagueRecord.pct }}</td>
                    <td>{{ g.teams.away.OPS }}</td>
                    <td>{{ g.teams.away.wOBA }}</td>
                    <td>{{ g.teams.away.wRCp }}</td>
                    
                </tr>
            </table>
            <table class="table-type-Away">
                <tr>
                    <!-- Away Team Pitcher -->
                    <!-- <th>Away Team</th> -->
                    <th>Probable Pitcher</th>
                    <th>W-L</th>
                    <th>IP</th>
                    <th>ERA</th>
                    <th>xERA</th>
                    <th>xFIP-</th>
                </tr>
    
                <tr>
                    <!-- Display values in the second row -->
                    <!-- <td>{{g.teams.away.team_abbrev}}</td> -->
                    <td>{{g.teams.away.probablePitcher.fullName}}</td>
                    <td>{{g.teams.away.probablePitcher.Win}}-{{g.teams.away.probablePitcher.Loss}}</td>
                    <td>{{g.teams.away.probablePitcher.IP}}</td>
                    <td>{{g.teams.away.probablePitcher.ERA}}</td>
                    <td>{{g.teams.away.probablePitcher.xERA}}</td>
                    <td>{{g.teams.away.probablePitcher.xFIPm}}</td>
                </tr>
            </table>
            <p> </p>
            <table class="table-type-Home">
                <tr>
                    <!-- Home Team-->
                    <th>Home Team</th>
                    <th>Win-Loss</th>
                    <th>Win Percentage</th>
                    <th>OPS</th>
                    <th>wOBA</th>
                    <th>wRC+</th>
                </tr>
    
                <tr>
                    <!-- Display values in the second row -->
                    <td>{{g.teams.home.team.name}}</td>
                    <td>{{ g.teams.home.leagueRecord.wins }}-{{ g.teams.home.leagueRecord.losses }}</td>
                    <td>{{g.teams.home.leagueRecord.pct }}</td>
                    <td>{{ g.teams.home.OPS }}</td>
                    <td>{{ g.teams.home.wOBA }}</td>
                    <td>{{ g.teams.home.wRCp }}</td>
                    
                </tr>
            </table>
            <table class="table-type-Home">
                <tr>
                    <!-- Home Team Pitcher -->
                    <!--<th>Home Team</th> -->
                    <th>Probable Pitcher</th>
                    <th>W-L</th>
                    <th>IP</th>
                    <th>ERA</th>
                    <th>xERA</th>
                    <th>xFIP-</th>
                </tr>
    
                <tr>
                    <!-- Display values in the second row -->
                    <!--<td>{{g.teams.home.team_abbrev}}</td>-->
                    <td>{{g.teams.home.probablePitcher.fullName}}</td>
                    <td>{{g.teams.home.probablePitcher.Win}}-{{g.teams.home.probablePitcher.Loss}}</td>
                    <td>{{g.teams.home.probablePitcher.IP}}</td>
                    <td>{{g.teams.home.probablePitcher.ERA}}</td>
                    <td>{{g.teams.home.probablePitcher.xERA}}</td>
                    <td>{{g.teams.home.probablePitcher.xFIPm}}</td>
                </tr>
            </table>
          <!-- <p> -- Advanced Information -- </p>
            <p> Away Team: {{ g.teams.away.team.name }}</p>
           <p> Win-Loss: {{ g.teams.away.leagueRecord.wins }}-{{ g.teams.away.leagueRecord.losses }} (0{{ g.teams.away.leagueRecord.pct }}), OPS: {{ g.teams.away.OPS }}, wOBA: {{g.teams.away.wOBA}}, wRC+: {{g.teams.away.wRCp}} </p>
            <p> Probable Starting Pitcher: {{ g.teams.away.probablePitcher.fullName }}, W-L: {{g.teams.away.probablePitcher.Win}}-{{g.teams.away.probablePitcher.Loss}}, 
                IP: {{g.teams.away.probablePitcher.IP}}, ERA: {{g.teams.away.probablePitcher.ERA}}, xERA: {{g.teams.away.probablePitcher.xERA}}, xFIP-: {{g.teams.away.probablePitcher.xFIPm}}</p>
            <p> Home Team: {{ g.teams.home.team.name }}</p>
            <p> Win-Loss: {{ g.teams.home.leagueRecord.wins }}-{{ g.teams.home.leagueRecord.losses }} (0{{ g.teams.home.leagueRecord.pct }}), OPS </p>
            <p> Probable Starting Pitcher: {{ g.teams.home.probablePitcher.fullName }}, W-L: {{g.teams.home.probablePitcher.Win}}-{{g.teams.home.probablePitcher.Loss}}, 
                IP: {{g.teams.home.probablePitcher.IP}}, ERA: {{g.teams.home.probablePitcher.ERA}}, xERA: {{g.teams.home.probablePitcher.xERA}}, xFIP-: {{g.teams.home.probablePitcher.xFIPm}}</p>
           -->
            </div>

        <script>
            // JavaScript code to handle button click
            document.getElementById("showButton{{g.gamePk}}").addEventListener("click", function() {
                toggleInfo("info{{g.gamePk}}");
            });
            function toggleInfo(infoId) {
            var infoDiv = document.getElementById(infoId);
                if (infoDiv.style.display == "none") {
                    infoDiv.style.display = "block";
                } else {
                    infoDiv.style.display = "none";
                }
            }
        </script>
    {% endfor %}
{% endblock content %}